<style>
  .container {
    width: 100%;
    max-width: 680px;
    border-radius: 5px;
    padding: 50px;
  }

  .main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 600px;
    font-size: 14px;
    line-height: 21px;
    color: #ffff;
  }

  .button {
    width: 100%;
  }

  .button a {
    background: #001280;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    padding: 10px 25px;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
  }
</style>

<div class="container">
  <div class="main">
    <p>Boa tarde. </p>
    <p>Há uma nova solicitação de agendamento para o Dr.
      <strong>{{doctor_name}}</strong> ({{doctor_email}}) na plataforma Smartcon.
    </p>

    <p>Quem solicitou a consulta foi o usuário: <br>
      Nome: <strong>{{user_name}}</strong> <br>
      Email: <strong>{{user_email}}</strong> <br>
      Telefone: <strong>{{user_phone}}</strong> <br>
      Data do agendamento: <strong>{{date_appointment}}</strong>
    </p>

    <p>
      Atenciosamente! <br>
      Equipe Smartcon
    </p>
  </div>
</div>
